# =======================
# Super Global .gitignore
# =======================

# Based on https://github.com/github/gitignore

# ----------
# Git Common
# ----------

!*/

# SVN
.svn/

# Linux
# .*
!.gitignore
*~
*un~
*swp

# Mac OS
.DS_Store

# Windows
Thumbs.db
*.dll

# zsh
.zsh
!.zsh/zshrc.symlink

# tmux
.tmux
.tmux/plugins

# Archives
*.7z
*.jar
*.rar
*.zip
*.gz
*.bzip
*.bz2
*.xz
*.lzma
## packing-only formats
*.iso
*.tar
## package management formats
*.dmg
*.xpi
*.gem
*.egg
*.deb
*.rpm

# Vim
.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
.vim/editorconfig*
init.vim

# atom
!.atom/
.atom/*
!.atom/config.cson
!.atom/snippets.cson
!.atom/packages-list.txt
!.atom/install.sh

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Eclipse
*.pydevproject
.project
*.metadata
#bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
## External tool builders
.externalToolBuilders/
## Locally stored "Eclipse launch configurations"
*.launch
## CDT-specific
.cproject
## PDT-specific
.buildpath

# Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*
## Org-mode
.org-id-locations
*_archive

# SublimeText project files
*.sublime-workspace

# SASS
*.sass-cache

# -----------
# Programming
# -----------

# C
## Object files
*.Libraries
## o
*.lib
*.a
## Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
## Executables
*.exe
*.out
*.app

# C++
## Compiled Object files
*.slo
*.lo
*.o
## Compiled Dynamic libraries
*.so
*.dylib
## Compiled Static libraries
*.lai
*.la
*.a

# CMake
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

# Java
*.class
## Package Files
*.jar
*.war
*.ear

# Android
## built application files
*.apk
*.ap_
# files for the dex VM
*.dex
## Java class files
*.class
## generated files
#bin/
gen/
## Local configuration file (sdk path, etc)
local.properties
## Eclipse project files
.classpath
.project
## Proguard folder generated by Eclipse
proguard/
## Intellij project files
*.iml
*.ipr
*.iws
.idea/

# Python
#.pyenv
*.py[cod]
## C extensions
*.so
## Packages
*.egg
*.egg-info
dist
build
eggs
parts
#bin
var
sdist
develop-eggs
.installed.cfg
#lib
#lib64
__pycache__
## Installer logs
pip-log.txt
## Unit test / coverage reports
.coverage
.tox
nosetests.xml
## Translations
*.mo
## Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Jython
*.pyc
*.class

# Dart
# packages
.project
pubspec.lock

# Go
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
## Folders
_obj
_test
## Architecture specific extensions/prefixes
*.[568vq]
[568vq].out
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*
_testmain.go
*.exe

# Ruby
#.rbenv
.rvm
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
## YARD artifacts
.yardoc
_yardoc
doc/

# Rails
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project

# Perl
blib/
.build/
_build/
cover_db/
inc/
Build
!Build/
Build.bat
.last_cover_stats
Makefile
Makefile.old
MANIFEST.bak
META.yml
MYMETA.yml
nytprof.out
pm_to_blib

# Haskell
dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virthualenv

# Scala
*.class
*.log
## sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
## Scala-IDE specific
.scala_dependencies

# R
# History files
.Rhistory
# Example code in package build process
*-Ex.R

# LaTeX
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.auxlock
*.snm
*.nav
*.out
*.fdb_latexmk
*.vrb
*.table
*-blx.bib
*.mtc*
*.maf
*.bbl
*.run.xml
# *.gnuplot

# Compass
.sass-cache

# Jekyll
_site/

# Node
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
#.nvm
.npm
,npmrc
pids
logs
results
npm-debug.log
node_modules
bower_components

# Maven
target/

# Nanoc
config.yaml
output/
tmp/

# SketchUp
*.skb

# TextPattern
.htaccess
css.php
rpc/
sites/site*/admin/
sites/site*/private/
sites/site*/public/admin/
sites/site*/public/setup/
sites/site*/public/theme/
textpattern/
HISTORY.txt
README.txt

# ------
# Extras
# ------

*.sw[nop]
.bundle
.env
db/*.sqlite3
log/*.log
rerun.txt
tags
tmp/**/*
!tmp/cache/.keep
zeus.json
*.patch
.bin
.git-hub/cache
.sdkman

# *.pdf
*.mov
*.mp4
*.mp3

*hidden*
*temp*

