[submodule "prezto"]
	path = .zprezto
	url = https://github.com/mhaidarh/prezto
	branch = master
[submodule "git-hub"]
	path = git-hub
	url = https://github.com/ingydotnet/git-hub
	branch = master
[submodule "git-subrepo"]
	path = git-subrepo
	url = https://github.com/ingydotnet/git-subrepo
	branch = master
[submodule "git-radar"]
	path = git-radar
	url = https://github.com/michaeldfallen/git-radar
	branch = master
[submodule "dotvim"]
	path = .vim
	url = https://github.com/mhaidarh/dotvim
	branch = master
[submodule "asdf"]
	path = .asdf
	url = https://github.com/asdf-vm/asdf
	branch = master
[submodule "linuxbrew"]
	path = .linuxbrew
	url = https://github.com/Linuxbrew/linuxbrew
	branch = master
[submodule "nvm"]
	path = nvm
	url = https://github.com/creationix/nvm
	branch = master
[submodule "pyenv"]
	path = pyenv
	url = https://github.com/yyuu/pyenv
	branch = master
[submodule "rbenv"]
	path = rbenv
	url = https://github.com/sstephenson/rbenv
	branch = master
[submodule "betty"]
	path = betty
	url = https://github.com/pickhardt/betty
	branch = master
