tmp=/Users/mhaidarh/temp
email=npm@mhaidarhanif.com
save=true
save-exact=true
init.author.name=M Haidar Hanif
init.author.email=npm@mhaidarhanif.com
init.author.url=https://mhaidarhanif.com
//registry.npmjs.org/:_authToken=f552b42e-d908-471b-a81b-451d660b58eb
